<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <title>许愿|许愿网|愿望|许愿树|许愿池-有愿望，就来许吧！-来许网！</title>
    <meta name="description" content="许愿网是一个专业在线许愿、在线发祝福、在线祝福、在线发愿望的平台，并为网友提供永久保存许愿服务的许愿网站。愿望不是一个遥不可及的事，只有心中有信念，许愿网相信每个愿望都可以实现。来许网(www.laixu.net)：来这里许愿！" />
    <meta name="keywords" content="许愿,愿望,许愿网,许愿树,许愿池,许愿瓶,许愿墙,许愿望,发祝福,在线祈福,许愿玻璃瓶,许愿精灵,许愿清单,我要许愿,许愿网站,实现愿望" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="__STATIC__/css/bootstrap.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css" />
    <link rel="stylesheet" href="__STATIC__/css/common.css" />
    <link rel="shortcut icon" href="/Public/Common/Images/favicon.ico" />
    <script type="text/JavaScript" src='__STATIC__/js/jquery.min.js'></script>
    <script type="text/JavaScript" src='__STATIC__/js/bootstrap.min.js'></script>
    <script type="text/JavaScript" src='__STATIC__/js/jquery.SuperSlide.2.1.1.js'></script>
    <script type="text/javascript" src="__STATIC__/js/common.js"></script>
</head>
<body>
<link rel="stylesheet" href="__STATIC__/css/index.css" />
<link rel="stylesheet" href="__STATIC__/css/jquery.mCustomScrollbar.css" />
<script type="text/javascript">
    function resize_window(){
        $(".MainBar").width($(window).width()-150);
    }
    $(function(){
        resize_window();
        $(window).resize(function(){
            resize_window();
        })
    })
</script>
<div class="SideBar">
    <a href="/" class="h1"  title="许愿网" style="background:#073553 url(__STATIC__/images/57812106b8c1e.png)  no-repeat center center;"><h1 title="许愿网">许愿网</h1></a>
    <a id="nav_add" href="/add" title="立即许愿">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
    <a id="nav_search" href="/search" title="搜索愿望">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <a id="nav_user" href="/user.html" title="许愿会员中心">
        <span class="glyphicon glyphicon-user"></span>
    </a>
    <a id="nav_html_1" href="/html/about.html" title="关于许愿网">
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <a id="nav_html_2" href="/html/note.html" title="许愿网建议">
        <span class="glyphicon glyphicon-comment"></span>
    </a>
</div>

<div style="display:none;"><script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?fc47fe1cca13bd24b5f5c3a10160cf32";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259874283'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/stat.php%3Fid%3D1259874283' type='text/javascript'%3E%3C/script%3E"));</script></div>


<div class="MainBar">
    <div class="box">
        <div class="wrap">
            <div class="alert alert-info alert-dismissible fade in" role="alert" style="width:80%;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-volume-up"></span>&nbsp;是一个专业在线许愿、在线发祝福、在线祝福、在线发愿望的平台，并为网友提供永久保存许愿服务的许愿网站。
            </div>
            <ul class="wishul">
                {foreach item="list" name="list"}
                <li>
                    <b class="c7" style="background-color:{$list.typecolor}">{$list.type}</b>
                    <a href="/wish/1709805402.html" title="点击查看发电公司分红的的愿望" class="p">
                        <p>{$list.content}<br/></p>                        </a>
                    <span>
                            {$list.address}&nbsp;&nbsp;{$list.member}<br/>许愿时间：{$list.pubtime|date="Y-m-d H:i:s",###}                        </span>
                </li>
                {/foreach}
            </ul>
            <div class="indexpage">
                <!--<span class='current'>1F</span>-->
                {php}
                    for($i=1; $i<=$countpage; $i++)
                    {
                        echo "<span data-id='".$i."' class='current'>".$i."F</span>";
                    }
                {/php}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.current').click(function(){
        $('.wishul').html('');
        var varpage = $(this).attr('data-id');
        $.ajax({
            url:"{:url('Index/paging')}",
            type:'post',
            data:{page:varpage},
            success:function(data){
                $(data).each(function(index,val){
                    var oli=" <li> <b class='c7' style='background-color:"+val.typecolor+"'>"+val.type+"</b> <a href='/wish/1709805402.html' title='点击查看发电公司分红的的愿望' class='p'> <p>"+val.content+"<br/></p></a> <span>"+val.address+"&nbsp;&nbsp;"+val.member+"<br/>许愿时间："+val.pubtime+"                       </span> </li>";
                    $('.wishul').append(oli);
                });
            },
            error:function(){
                alert('fail');
            },
        });
    });
</script>
<script type="text/javascript" src="__STATIC/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
    (function($){
        $(window).load(function(){
            $(".wrap").mCustomScrollbar({
                set_width:false, /*optional element width: boolean, pixels, percentage*/
                set_height:false, /*optional element height: boolean, pixels, percentage*/
                horizontalScroll:false, /*scroll horizontally: boolean*/
                scrollInertia:950, /*scrolling inertia: integer (milliseconds)*/
                mouseWheel:true, /*mousewheel support: boolean*/
                mouseWheelPixels:"auto", /*mousewheel pixels amount: integer, "auto"*/
                autoDraggerLength:true, /*auto-adjust scrollbar dragger length: boolean*/
                autoHideScrollbar:false, /*auto-hide scrollbar when idle*/
                scrollButtons:{ /*scroll buttons*/
                    enable:false, /*scroll buttons support: boolean*/
                    scrollType:"continuous", /*scroll buttons scrolling type: "continuous", "pixels"*/
                    scrollSpeed:"auto", /*scroll buttons continuous scrolling speed: integer, "auto"*/
                    scrollAmount:40 /*scroll buttons pixels scroll amount: integer (pixels)*/
                },
                advanced:{
                    updateOnBrowserResize:true, /*update scrollbars on browser resize (for layouts based on percentages): boolean*/
                    updateOnContentResize:false, /*auto-update scrollbars on content resize (for dynamic content): boolean*/
                    autoExpandHorizontalScroll:false, /*auto-expand width for horizontal scrolling: boolean*/
                    autoScrollOnFocus:true, /*auto-scroll on focused elements: boolean*/
                    normalizeMouseWheelDelta:false /*normalize mouse-wheel delta (-1/1)*/
                },
                contentTouchScroll:true, /*scrolling by touch-swipe content: boolean*/
                callbacks:{
                    onScrollStart:function(){}, /*user custom callback function on scroll start event*/
                    onScroll:function(){}, /*user custom callback function on scroll event*/
                    onTotalScroll:function(){}, /*user custom callback function on scroll end reached event*/
                    onTotalScrollBack:function(){}, /*user custom callback function on scroll begin reached event*/
                    onTotalScrollOffset:0, /*scroll end reached offset: integer (pixels)*/
                    onTotalScrollBackOffset:0, /*scroll begin reached offset: integer (pixels)*/
                    whileScrolling:function(){} /*user custom callback function on scrolling event*/
                },
                theme:"light" /*"light", "dark", "light-2", "dark-2", "light-thick", "dark-thick", "light-thin", "dark-thin"*/
            });
        });
    })(jQuery);
</script>
</body>
</html>